{{#block "header"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wildlife-Tracker</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
            <link href="https://fonts.googleapis.com/css2?family=Economica&display=swap" rel="stylesheet">
            <link rel="icon" type="image/x-icon" href="https://lh3.googleusercontent.com/proxy/l0Sp2mpWvM-AJv0HxY1ToOBh71Vb9obnKQX0hFJeM9tgiQqzYNwABm3kZvk1aRhGKcJeCMDlz-uwtuO3OerhEXCYVHi9zOI">
            <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
{{/block}}
<body>
{{#block "content"}}

{{/block}}
{{#block "footer"}}
    </body>

    </html>
{{/block}}
